:root{
    --color: #9d2a5c
}
h1, h2, h3, h4, h5, form
{
font-family: "comic sans ms";
color: white;
font-style: italic;
}

table
{
background-color:white;
font-family: "comic sans ms";
margin-right: auto;
margin-left: auto;
text-align: left; 
word-spacing: normal;
width: 70%;
}

p,li,th,td
{
font-family: "comic sans ms";
color: black;
text-align: left; 
word-spacing: normal;
}

hr
{
color:white
}

iframe
{
margin: 0;
padding: 0;
border: none;
width: value;
height: value;
}
a:link {font-family: "comic sans ms" ; color:white}
a:visited  {color:white}
a:active   {color:yellow}
a:hover    {color:red}

body {background-color: #ccaabb
}


/* color */
td:first-child, .purple{
    color: var(--color);
}

/* black and span the last row of the table */
td:last-child{
    color: black;
}

/* box the images */
.box{
    align-items: center;
    justify-content: center;
}

input, textarea, button{
    margin: 5pt;
}
